.container .wrapper.ack{
    width: 25%;
}

.container .wrapper .section.ack{
    display: flex;
    flex-direction: column;
    font-family: "Public Sans";
    gap: 10px;
}

.wrapper .section .title {
    font-weight: 600;
    font-size: 25px;
}

.wrapper .section .sub {
    font-size: 15px;
    color: #333333;
    font-size: 14px;
    line-height: calc(100% + 10px);
}

.wrapper .section .link{
    font-size: 13px;
    margin-top: 20px;
    color: rgb(0, 6, 173);
}

@media only screen and (max-width: 750px) {
    .container .wrapper.ack{
        width: 90%;
    }
}